body {
  font-family: Arial;
  background-color: white;
}

h1 {
  color: black;
  font-size: 23px;
  text-align: center;
}
p {
  color: black;
  font-size: 16px;
  background-color: white;
  text-align: left;
}

.title {
  color: black;
}
